.footer-container {
    color: white;
    
}
.f-content {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}
.first-content img {
    width: auto;
    height: 2.8125rem;
    margin-top: 30px;
    margin-left: 30px;
}
.first-content .inputs input {
    padding-right: 20px;
    height: 25px;
}
.first-content .inputs svg {
    /* position: relative; */
    right: 5px;
    top: 50%;
    transform: translateX(-600%);
    color: green;
    float: right;
    align-items: center;
    padding-top: 5px;
    font-size: 20px;
}
.first-content .social span svg {
    background-color: lightgreen;
    margin-right: 20px;
    font-size: 20px;
    padding: 10px;
    color: black;
}

.second-content h1 {
    color: white;
    text-transform: capitalize;
    font-size: 30px;
}

.second-content a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 30px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}

.second-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.third-content a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 30px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}
.third-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fourth-content a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 30px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}
.fourth-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.footer-container hr {
    color: lightgray;
    
}
.footer-container .copy-right {
    text-align: center;
    font-size: 20px;
    color: gray;
    border-top: solid 0.0625rem #2f2f2f;
    padding-top: 10px;
    
}